/*
    ===========
    Main Styles
    ===========

*/
.main{
    display: flex;
    flex-direction: column;
    padding: 1em;
    background: #f1f1f1;
    box-shadow: 0 5px 7px #aaa;
    position: relative;
    gap: .75em;
    box-sizing: border-box;
}

.title, .subtitle{
    margin: 0 0 0.2rem;
}

.title {
    font-size: 2.25rem;
    font-weight: 500;
}

.subtitle{
    font-size: 1.5rem;
    font-weight: 500;
}

.p{
    margin: 0;
    text-align: justify;
}

.important > a, .subtitle > a:visited {
    text-decoration: none;
    color: #b92025;
}

/* Login Form Styles*/

.form{
    background: #f5f5f5;
    margin: auto;
    padding: 1.5em;
    border-radius: 0.25em;
    box-shadow: 0 0 2em #aaa;
}

.form__input{
    margin-bottom: 1em;
}

.form__keys > *{
    display: block;
    width: 90%;
}

.label{
    margin-bottom: 0.25em;
    display: none;
    color: #b92025;
    font-weight: 500;
}

.form__keys > input{
    padding: .5em 0 0.5em 0.5em;
    border: none;
}

.submitBtn{
    padding: .35em 1.125em;
    border: none;
    border-radius: 0.25em;
    box-shadow: 0 0 5px #555;
}

/* Wrong credentials*/
.incorrect{
    display: block;
}


@media screen and (min-width: 750px) {
    .main{
        display: grid;
        gap: 1.5em;
        row-gap: 2.5em;
        grid-template-columns: 1fr 330px 1fr;
        grid-template-areas: "welcome form important"
        "support form .";
        grid-template-rows: auto auto;
        padding: 2em 1em 4em;
    }

    #welcome{
        grid-area: welcome;
    }
    #important{
        margin-top: 1.5em;
        grid-area: important;
    }
    #form{
        margin-top: 1.5em;
        grid-area: form;
    }
    .form{
        padding: .75em;
    }
    #support{
        grid-area: support;
    }
}